body{
    background-color: rgb(128, 232, 246);
    position: relative;
    

}
h2{
    text-align: center;
    color: rgb(248, 41, 41);
}
div{
    padding:0.5rem;
}
label{
    padding-right:10px;
}
input[type=text],[type=email],[type=tel],[type=number],[type=date]{
    position: relative;
    box-sizing: border-box;
    height: 2.5rem;
    border: 3px solid;
    border-radius: 100px;
    text-align: center;
    
  
}
textarea{
    box-sizing: border-box;
    height: 5rem;
    border: 3px solid;
}
::placeholder{ 
    text-align: center;
    
}
th,td{
    padding: 20px;
    background-color: black;
}

.table-data{
overflow-x: scroll;
}
#list{
    background-color:black;
    color: white;
}