#newBusiness{
    /* text-align: center; */

}

h2{
    text-align: center;
    color: red;
}
div{
    padding:0.5rem;
}
label{
    padding-right: 5px;
}
input[type=text],[type=email],[type=tel],[type=number],[type=date]{
    position: relative;
    box-sizing: border-box;
    height: 2.5rem;
    border: 3px solid;
  
}
textarea{
    box-sizing: border-box;
    height: 5rem;
    border: 3px solid;
}
::placeholder{
    /* left: 0;
    top: 0;
    transition: transform 120ms ease-in;
    position: absolute;
    transform: translate(0, 0);
    transform-origin: 0 0; */
}
